body > div {
    overflow: hidden;
}

header { 
    display: flex;
    height: 15vh;
}

.header_wrap1 {
    position: relative;
    width: 38vw;
    font-weight: 900;
}

.header_wrap1 div {
    position: absolute;
    right: 0.9rem;
    bottom: 0.5rem;
    font-size: 1.6vw;
}

.header_wrap2 {
    background-color: #0072BD;
    width: 45vw;
    font-weight: 300;
    padding: 1em 0vw;
    padding-right: 17vw;
}

.header_wrap2 .mb-10 {
    display: flex;
    color: #0072BD;
    justify-content: flex-end;
}


.header_wrap2 span {
    color: #fff;
    font-weight: 500;
    text-align: right;
    letter-spacing: 0;
}

.header_wrap2 p {
    text-align: right;
}

.header_wrap2 .header_button {
    height: 7vh;
    width: 15vw;
    margin: 0 0.3rem;
    border-radius: 20px;
}

.header_item1 {
    background-color: #FFFF00;
}

.header_item2 {
    background-color: #8EE0FF;
}

.top_container.pc {
    background-image: url('../img/topimg.jpg');
    background-size: cover;
    height: 42vw;
    width: 100vw;
}

.top_container h1 {
    margin: 0;
    font-weight: 800;
    margin-left: 0.3rem;
    margin-bottom: 3vw;
}

.top_container .top_wrap {
    width: 41%;
    right: 15%;
}

.top_container .top_wrap > div {
    width: 90%;
}

.top_container > div > div img {
    width: 100%;
    height: 100%;
}

.noto_sans_jp {
    font-family: "Noto Sans JP", sans-serif;
}

.noto_serif_jp {
    font-family: "Noto Serif JP", serif;
}

.worries_container {
    background-color: #F2F4F5;
    padding: 7vw 20vw;
}

.worries_wrap1 {
    background-color: #fff;
    text-align: center;
    padding: 2vw 0;
}

.worries_wrap1 p {
    font-weight: 700;
}

.worries_wrap1 h2 {
    color: #0071BC;
    font-weight: 700;
    font-size: 3vw;
}

.worries_wrap1 .lh2 p {
    position: relative;
}

.worries_wrap1 h2::after {
    content: "";
    display: block;
    width: 65%;
    height: 0.15rem;
    background-color: #0071BC;
    margin: 0.2rem auto;
}

.worries_wrap2 {
    display: flex;
    align-items: center;
}

.worries_wrap2 p {
    font-weight: 850;
    padding: 0 0.5rem;
    padding-right: 2vw;
    font-size: 1.5vw;
}

.worries_wrap2 div {
    width: 90vw;
}

.worries_box {
    margin: 0 auto;
    margin-right: 0.2vw;
    display: flex;
    position: relative;
    width: 45vw;
}

.worries_item {
    height: 1.8vw;
    width: 1.8vw;
    margin-right: 0.2vw;
}

.worries_item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.worries_box p {
    font-size: 1.4vw;
}

.blue_letters {
    color: #0072BF;
}

.achieve_container {
    text-align: center;
    padding: 6vw 0vw;
}

.bg-skyblue {
    background-color: #DCEEFC;
}

.achieve_container h1 {
    font-size: 3.2vw;
    font-weight: 900;
    margin-bottom: 1.5vw;
}

.achieve_wrap.mb-20 {
    font-size: 2.3vw;
    font-weight: 800;
    text-align: center;
}

.achieve_wrap1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 46%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vw;
    font-weight: 900;
    font-size: 1.3vw;
}

.achieve_wrap2 {
    width: 65vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.achieve_box {
    border: 0.2rem solid #0072BF;
    border-radius: 5px;
    background-color: #fff;
    flex: 1;
    padding: 1.1vw 0;
    font-size: 1.4vw;
    font-weight: 900;
}

.achieve_box h3 span {
    border-bottom: 0.2rem solid #0072BF;
    font-weight: 900;
    font-size: 1.8vw;
}

.achieve_box .mb-15 {
    font-weight: 900;
}

.achieve_box p:nth-of-type(2) {
    font-weight: 900;
}

.achieve_box p span {
    display: inline-block;
    background: linear-gradient(transparent 60%, #FCEE21 60%);
    line-height: 1.3;
    font-size: 1.7vw;
}

.achieve_box div {
    height: 2rem;
    margin: 0 auto;
}

.achieve_box div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.achieve_container p div {
    width: 1rem;
    height: 1rem;
}

.achieve_container p div img {
    width: 100%;
    height: 100%;
}

.achieve_container .achieve_wrap1+p {
    font-weight: 900;
    font-size: 2.2vw;
    margin-bottom: 2.5vw;
}

.achieve_container .achieve_item {
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

.achieve_container .achieve_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bg-blue {
    background-color: #0072BD;
}

.bahnschrift {
    font-family: "bahnschrift",sans-serif; 
}

@font-face {
    font-family: "bahnschrift"; 
    src: url("../font/bahnschrift.ttf") format("truetype"); 
    font-display: swap; 
    font-size: 2.6vw;
}

.achieve_wrap .slash {
    font-weight: 500;
}

.achieve_wrap .bahnschrift {
    font-weight: 650;
    display: inline-block;
    background: linear-gradient(transparent 60%, #FCEE21 60%);
    line-height: 0.8;
    font-size: 3.2vw;
}

.achieve_box:nth-of-type(2) {
    margin: 0 0.5vw;
}

.achieve_box p:nth-of-type(4) {
    font-size: 1vw;
}

.consul_container {
    padding: 4.5vw 8vw;
    text-align: center;
    padding-bottom: 4vw;
}

.consul_container h1 span {
    color: #fff;
    border-bottom: 0.15rem solid #FFFF00;
    font-weight: 700;
    font-size: 2.3vw;
}

.bg-yellow {
    background-color: #FFFF00;
}

.bg-whiteblue {
    background-color: #DCEEFC;
}

.consul_wrap .button {
    font-weight: 900;
    padding: 1.5vw 6vw;
    font-size: 1.3vw;
}

.consul_wrap div:nth-of-type(1) {
    margin-right: 0.7rem;
}

.consul_wrap div:nth-of-type(2) {
    margin-left: 0.7rem;
    background-color: #8EE0FF;
}

.button {
    border-radius: 40px;
}

.consul_container p {
    color: #fff;
    font-weight: 700;
    font-size: 1.2vw;
    margin-bottom: 2vw;
}

.reason_container {
    padding: 6vw 17vw;
}

.reason_container > div:nth-of-type(1) {
    text-align: center;
}

.reason_container .reason_wrap h1 {
    font-weight: 900;
    font-size: 3.8vw;
}

.reason_container .reason_wrap p {
    font-weight: 900;
    font-size: 1.05vw;
}

.reason_container .reason_wrap h1+p {
    font-size: 1.4vw;
    font-weight: 900;
}

.reason_wrap .bg-skyblue div p:nth-of-type(2) {
    font-size: 1.2vw;
}

.reason_wrap .reason_box1 {
    display: flex;
}

.reason_container > div:last-child {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.reason1 > div:nth-of-type(1) {
    width: 50vw;
}

.reason2 > div:nth-of-type(2) {
    width: 50vw;
    height: 20vw;
}

.reason3 > div:nth-of-type(1) {
    width: 55vw;
    height: 20vw;
}

.reason4 > div:nth-of-type(2) {
    width: 35vw;
}

.reason5 > div:nth-of-type(1) {
    width: 55vw;
}

.reason6 > div:nth-of-type(2) {
    width: 29vw;
}

.reason1 div > div {
    width: 35vw;
}

.reason1 h2 {
    margin-left: 4vw;
}
.reason1 p {
    margin-left: 4vw;
}
/* .reason2 h2 {
    margin-left: 4vw;
}
.reason2 p {
    margin-left: 4vw;
} */
.reason3 h2 {
    margin-left: 2vw;
}
.reason3 p {
    margin-left: 2vw;
}
.reason4 h2 {
    margin-left: 4vw;
}
.reason4 p {
    margin-right: 5vw;
}
.reason5 h2 {
    margin-left: 4vw;
}
.reason5 p {
    margin-left: 4vw;
}
.reason6 h2 {
    margin-left: 4vw;
}
.reason6 p {
    margin-right: 3vw;
}

.reason2 > div > p {
    margin-bottom: 3vw;
    margin-right: 3vw;
}

.reason_wrap .bg-skyblue img {
    position: absolute;
    bottom: 0;
    max-height: 20vw;
    left: 2vw;
}

.reason_box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reason_box1 .reason_item > div {
    font-weight: 400;
    background: linear-gradient(transparent 60%, #DCEEFC 60%);
    line-height: 1;
}

.reason_box1 .reason_item > div h2 {
    margin-top: 0.8rem;
    font-weight: 900;
    font-size: 1.55vw;
    margin-bottom: 0.5vw;
}

.reason_wrap .reason_box2 {
    display: flex;
}


.reason_box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 35%;
}

.reason_box2 .reason_item > div {
    font-weight: 400;
    background: linear-gradient(transparent 60%, #DCEEFC 60%);
    line-height: 1;
    width: 105%;
    right: 2%;
}

.reason_box2 .reason_item > div h2 {
    margin-right: 1rem;
    font-weight: 900;
    margin-left: 0.3rem;
    margin-top: 1.2rem;
    font-size: 1.7vw;
    margin-bottom: 0.5vw;
}

.reason_item div div {
    width: 3.5rem;
    height: 3.5rem;
}

.reason_wrap .bg-blue.noto_serif_jp {
    color: #fff;
    text-align: center;
    padding: 0.4vw 0;
    font-weight: 900;
    font-size: 2.2vw;
}

.reason_wrap .bg-skyblue > div {
    display: flex;
}

.reason_wrap .bg-skyblue div div:nth-of-type(1) {
    width: 100%;
    flex: 3;
}

.reason_wrap .bg-skyblue div div:nth-of-type(2) p:nth-of-type(1) {
    padding-top: 2.5vw;
    font-size: 1.1vw;
    font-weight: 900;
}

.reason_wrap .bg-skyblue div div:nth-of-type(2) {
    margin-right: 3vw;
    margin-left: 0;
    flex: 6;
}

.reason_item h2 .bahnschrift {
    font-weight: 700;
    font-size: 4vw;
}

.bg-gray {
    background-color: #F2F4F5;
}

.message_container {
    padding: 6vw 0;
}

.message_container h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.5vw;
}

.message_wrap {
    display: flex;
    margin: 0 auto;
    width: 68vw;
}

.message_wrap .bg-white {
    padding: 1.5vw 2vw;
    font-weight: 400;
    padding-left: 4rem;
    padding-bottom: 0;
    font-size: 1vw;
}

.message_wrap div:nth-of-type(1) {
    background-color: #B3B3B3;
    width: 25vw;
    height: 26vw;
    left: 2.5vw;
    z-index: 10;
}

.message_wrap .bg-white.lh2 p {
    margin-bottom: 2vw;
    font-weight: 900;
}

.flow_container {
    padding: 5vw 16vw;
    padding-bottom: 10vw;
}

.flow_container h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.5vw;
}

.flow_wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.flow_wrap > div {
    flex: 1;
    margin-right: 0.8vw;
}

.flow_wrap > div:nth-of-type(4) {
    margin-right: 0;
}

.flow_wrap .bahnschrift {
    font-weight: 900;
    text-align: center;
    top: 1.4rem;
    background-color: #fff;
    z-index: 1;
    width: 40%;
    margin: 0 auto;
    font-size: 3.5vw;
}


.flow_wrap > div:nth-of-type(1) .flow_box {
    border: 0.3vw solid #0072BF;
    border-radius: 10px;
    padding: 2vw 0;
    padding-bottom: 3vw;
}

.flow_wrap > div:nth-of-type(2) .flow_box {
    border: 0.3vw solid #0072BF;
    border-radius: 10px;
    padding: 1.8vw 0;
    padding-bottom: 1.1rem;
}

.flow_wrap > div:nth-of-type(3) .flow_box {
    border: 0.3vw solid #0072BF;
    border-radius: 10px;
    padding: 1vw 0;
    padding-bottom: 2vw;
}

.flow_wrap > div:nth-of-type(4) .flow_box {
    border: 0.3vw solid #0072BF;
    border-radius: 10px;
    padding: 1.5vw 0;
    padding-bottom: 3vw;
}

.flow_box h2 {
    font-weight: 400;
    text-align: center;
    z-index: 1;
    font-size: 1.2vw;
    font-weight: 900;
}

.flow_box h2::after {
    content: "";
    display: block;
    width: 13%;
    height: 0.1rem;
    background-color: #0071BC;
    margin: 0.2rem auto;
}

.flow_wrap > div:nth-of-type(1) .flow_box h2+div {
    width: 7vw;
    margin: 0 auto;
    border-radius: 80px;
    padding: 2vw 1vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}
.flow_wrap > div:nth-of-type(2) .flow_box h2+div {
    width: 6vw;
    margin: 0 auto;
    border-radius: 80px;
    padding: 1.5vw 1.8vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}
.flow_wrap > div:nth-of-type(3) .flow_box h2+div {
    width: 5.5vw;
    margin: 0 auto;
    border-radius: 80px;
    padding: 2vw 2.1vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}
.flow_wrap > div:nth-of-type(4) .flow_box h2+div {
    width: 7.5vw;
    margin: 0 auto;
    border-radius: 80px;
    padding: 2.2vw 1vw;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}

.flow_box img {
    width: 100%;
    height: 100%;
}

.flow_wrap > div:nth-of-type(1) .flow_box > .pc.img {
    width: 45%;
    margin: 0 auto;
    background-color: #DCEEFC;
    border-radius: 50%;
    padding: 1.6rem 0.7rem;
    margin-bottom: 1rem;
}

.flow_wrap > div:nth-of-type(2) .flow_box > .pc.img {
    width: 36%;
    margin: 0 auto;
    background-color: #DCEEFC;
    border-radius: 50%;
    padding: 1.2rem 1.3rem;
    margin-bottom: 1rem;
}

.flow_wrap > div:nth-of-type(3) .flow_box > .pc.img {
    width: 34%;
    margin: 0 auto;
    background-color: #DCEEFC;
    border-radius: 50%;
    padding: 1.4rem 1.5rem;
    margin-bottom: 1rem;
}

.flow_wrap > div:nth-of-type(4) .flow_box > .pc.img {
    width: 50%;
    margin: 0 auto;
    background-color: #DCEEFC;
    border-radius: 50%;
    padding: 1.6rem 0.7rem;
    margin-bottom: 1rem;
}

.flow_box > p {
    text-align: center;
    font-weight: 800;
    font-size: 0.95vw;
}

.course_container {
    padding: 6vw 17vw;
    padding-bottom: 5vw;
}

.course_container h1 {
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
}

.course_container table {
    margin: 0 auto;
    margin-bottom: 1vw;
    border-collapse:collapse;
    font-size: 1.1vw;
    font-weight: 900;
    width: 100%; 
    table-layout: fixed;
}

.normal {
    background-color: #8FC9E6;
}

.standard {
    background-color: #8FD8CE;
}

.master {
    background-color: #D1A2CC;
}

.kozuka_gothic {
    font-family: "kozuka-gothic-pr6n", sans-serif;
}

.course_wrap > div:nth-of-type(1) {
    border: 0.1vw solid #999999;
    border-radius: 20px;
    height: 200%;
    padding: 0.15vw 0.5vw;
    font-size: 0.8vw;
}

.bg-white {
    background-color: #fff;
}

.course_container th, .course_container td {
    border: 0.05rem solid #999999;
}

.course_container .no-border {
    border: none;
    width: 12vw;
}

.course_container .course_wrap {
    display: flex;
    padding: 1vw 0.5vw;
    padding-right: 0;
    padding-bottom: 0;
}

.course_container .course_box {
    display: flex;
    justify-content: flex-end;
}

.course_wrap.difficult {
    padding-top: 0;
}

.center {
    text-align: center;
}

.course_container table th {
    padding: 1.3vw 0;
    font-weight: 900;
}

.course_container table .symbol {
    font-weight: 900;
    font-size: 1.8vw;
}

.course_container table td:nth-of-type(1) {
    padding: 1.2vw 1.5vw;
    padding-right: 0;
}

.course_container table .kozuka_gothic.blue_letters {
    font-weight: 900;
}

.course_container table .square_bracket {
    font-weight: 100;
    font-size: 3vw;
    bottom: 1vw;
}

.course_container > div div {
    text-align: center;
    font-weight: 900;
}

.course_wrap > div:nth-of-type(2) > div:nth-of-type(1) {
    font-weight: 900;
    bottom: 0.2rem;
    font-size: 0.7vw;
}

.course_box > div:nth-of-type(2) > div:nth-of-type(2) {
    text-align: right;
    font-size: 0.7vw;
    font-weight: 900;
}

.course_box div:nth-of-type(2) div:nth-of-type(1) {
    font-size: 0.8vw;
}

.course_wrap > div:nth-of-type(2) > div:nth-of-type(1) > span {
    font-weight: 330;
}

.course_wrap div:nth-of-type(2) {
    margin-left: 0.5vw;
}

.course_wrap > div:nth-of-type(2) > div:nth-of-type(1) span {
    font-size: 1.5vw;
    font-weight: 900;
}

.course_container > div > div {
    text-align: right;
}

.course_box div:nth-of-type(2) {
    font-weight: 500;
}

.course_box div:nth-of-type(2) span {
    font-weight: 900;
    font-size: 1.3vw;
}

.successful_container {
    padding: 7vw 17vw;
    padding-bottom: 4vw;
}

.successful_container h1 {
    font-weight: 300;
    text-align: center;
    font-weight: 900;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

.successful_container img {
    width: 100%;
    height: 100%;
}

.successful_container > div {
    width: 100%;
    margin: 0 auto;
}

.successful_container > div > div:nth-of-type(1) {
    display: flex;
    font-size: 1vw;
    font-weight: 700;
}

.successful_container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 12vw;
    height: 10%;
}

.successful_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 27vw;
    height: 10%;
}

.successful_container > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 12vw;
    height: 10%;
}

.successful_container > div > div:nth-of-type(1) > div:nth-of-type(1) {
    left: 3.5vw;
    z-index: 5;
}

.successful_container .bg-skyblue {
    padding: 2.5vw 5vw;
}

.successful_container .bg-skyblue h2 {
    font-weight: 900;
    font-size: 1.2vw;
}

.successful_wrap div:nth-of-type(2) div:nth-of-type(2) {
    padding: 0.7vw 5vw;
    font-weight: 900;
    background-color: #AED5FF;
    font-size: 1.2vw;
}

.successful_wrap div:nth-of-type(2) div:last-child p {
    margin-bottom: 2vw;    
}

.successful_wrap div:nth-of-type(2) div:last-child p:last-child {
    margin-bottom: 0;
}

.successful_box p {
    margin-bottom: 2vw;
}

.successful_wrap p:last-child {
    margin-bottom: 0;
}


.successful_wrap div:nth-of-type(2) div:nth-of-type(3) {
    padding: 2vw 5vw;
    padding-bottom: 0;
}

.present_container {
    padding: 5vw 17vw;
}

.present_container h1 {
    font-weight: 900;
    font-size: 3.8vw;
    text-align: center;
    color: #FEF77C;
}

.present_container .present_wrap {
    display: flex;
    justify-content: space-around;
}

.present_wrap .present_item {
    display: flex;
}

.present_container .present_box {
    border-radius: 10px;
    padding: 1.5vw 0.9vw;
}

.present_box .present_item > div:nth-of-type(1) {
    width: 6vw;
}

.present_box .present_item > div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.present_box .present_item .blue_letters span {
    font-weight: 800;
    font-size: 2.8vw;
}

.present_box .present_item .blue_letters {
    margin-left: 1vw;
    font-weight: 900;
    font-size: 1.4vw;
    letter-spacing: 0;
}

.present_wrap .present_box .present_item {
    padding: 0.3rem;
    border-bottom: 0.15rem solid #0072BD;
    padding-bottom: 0.8rem;
}

.present_wrap .present_box p:nth-of-type(1) {
    text-align: center;
    border-bottom: 0.15rem solid #0072BD;
    padding-top: 1.1vw;
    padding-bottom: 1.3vw;
    font-weight: 900;
    font-size: 1vw;
}

.present_wrap .present_box > p:nth-of-type(2) {
    padding: 0 0.5rem;
    font-weight: 800;
    font-size: 0.8vw;
}

.present_wrap .present_box.bg-white {
    width: 29vw;
} 

.present_wrap {
    padding: 0;
}

.question_container {
    padding: 6.5vw 17vw;
    padding-bottom: 10vw;
}

.question_container h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.5vw;
}

.question_wrap {
    display: flex;
    padding: 0.5vw 1.5vw;
    justify-content: space-between;
    align-items: center;
}

.question_wrap .bahnschrift {
    color: #666;
}

.question_container .bahnschrift {
    font-weight: 800;
    font-size: 3.5vw;
}

.question_container p {
    width: 93%;
    font-weight: 900;
    font-size: 1.2vw;
}

.answer_wrap {
    margin-bottom: 1.2vw;
    display: flex;
    padding: 0.5vw 1.5vw;
    justify-content: space-between;
}

.information_container {
    padding: 4vw 17vw;
}

.information_container {
    padding-bottom: 2vw;
}

.information_container h1 {
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 0;
}

.information_wrap table {
    font-weight: 900;
    font-size: 0.9vw;
    border-bottom: 0.1rem solid #000;
    padding-bottom: 1.2vw;
    width: 100%;
}

.information_wrap table tr td {
    padding-bottom: 0.7rem;
}

.information_wrap table tr td:nth-of-type(1) {
    display: flex;
    align-items: flex-start;
}

.information_wrap table tr td:nth-of-type(2) {
    font-weight: 600;
}

.information_box {
    font-size: 0.9vw;
    font-weight: 500;
}

.information_item {
    display: flex;
    padding-top: 1.5vw;
    font-size: 1vw;
}

.information_item span {
    font-weight: 500;
    font-size: 1.3vw;
}

.information_item > div:nth-of-type(2) {
    position: absolute;
    right: 0;
}

h1 {
    margin-top: 0!important;
}
h2 {
    margin-top: 0!important;
}
h3 {
    margin-top: 0!important;
}


.sp_flex {
    display: none;
}
.sp_table-row {
    display: none;
}

.under_line{
    background-color: transparent;
    background-image: linear-gradient(0deg, #0072BD 1px, transparent 1px);
    background-size: 100% 2.5em;
    line-height: 2.5em;
    padding-bottom: 0px;
}
.reason_wrap .bg-skyblue div div:nth-of-type(2) .under_line p:nth-of-type(1) {
    padding-top: unset;
    font-size: 1.2vw;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .sp_flex {
        display: flex;
    }
    .sp_header .header_wrap {
        width: 50%;
        justify-content: space-around;
    }
    .sp_header .header_wrap .blue_letters {
        font-size: 4.3vw;
        font-weight: 900;
        height: 72%;
        padding: 1.1vw 3vw;
        border-radius: 15px;
        line-height: 1.1;
    }
    .sp_header .sp_flex > div:nth-of-type(2) {
        background-color: #8EE0FF;
        right: 2.2vw;
    }
    .sp_header .header_box {
        font-weight: 900;
        font-size: 3.8vw;
        right: 4vw;
        bottom: 2.5vw;
        position: absolute;
    }
        /* ハンバーガーメニューのスタイル */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 7.5vw;
        height: 38%;
        right: 2vw;
    }
        /* ハンバーガーメニューのアイコンのスタイル */
    .hamburger-line {
        width: 100%;
        height: 0.5vw;
        background-color: #fff;
        border-radius: 1px;
    }
    .top_container > div:not(.bg-white) {
        background-image: url('../img/topimg-sp.png');
        background-size: cover;
        height: 132vw;
        width: 100vw;
    }
    .top_container h1 {
        font-size: 10vw;
        top: 47vw;
        left: 4vw;
    }
    .top_container .bg-white {
        padding: 2vw;
        padding-bottom: 4vw;
    }
    .top_container.sp h1 span {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #fff,
        0 0 50px #fff,
        0 0 60px #fff,
        0 0 70px #fff;
        color: #0071BC;
    }
    .worries_container {
        padding: 7vw 5vw;
    }
    .worries_wrap1 h2 {
        font-size: 6.2vw;
    }
    .worries_wrap1 h2::after {
        width: 80vw;
    }
    .worries_box p {
        font-size: 3.8vw;
    }
    .worries_wrap2 {
        display: block;
    }
    .worries_wrap2 div {
        width: 75vw;
        margin: 0 auto;
        margin-top: 1vw;
    }
    .achieve_container h1 {
        font-size: 2.3vw;
    }
    .achieve_wrap1 {
        width: 90vw;
        font-size: 4.2vw;
    }
    .achieve_container .mb-30 {
        font-size: 1.2rem;
    }
    .achieve_wrap2 {
        display: block;
        width: 80vw;
    }
    .achieve_box div {
        font-weight: 800;
        font-size: 3.8vw;
    }
    .achieve_container div:nth-of-type(2) span:nth-of-type(2) {
        display: inline-block;
        background: linear-gradient(transparent 60%, #FCEE21 60%);
        line-height: 0.8;
        font-size: 15vw;
        font-weight: 800;
    }
    .achieve_container > div:nth-of-type(2) .blue_letters {
        font-size: 11vw;
        font-weight: 350;
    }
    .achieve_container > div:nth-of-type(2) > div {
        font-size: 5vw;
        font-weight: 900;
    }
    .achieve_box div:nth-of-type(1) .blue_letters {
        font-size: 5vw;
        font-weight: 900;
    }
    .achieve_box:nth-of-type(2) {
        margin: 0;
        margin-bottom: 2.8vw;
    }
    .consul_container {
        padding: 7.5vw 10vw;
    }
    .consul_container h1 {
        margin-bottom: 4vw;
    }
    .consul_wrap.blue_letters.flex-center {
        display: block;
    }
    .consul_wrap .button {
        width: 47vw;
        font-size: 4vw;
        font-weight: 750;
    }
    .consul_wrap div:nth-of-type(1) {
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 1.5vw;
    }
    .consul_wrap div:nth-of-type(2) {
        margin-left: 0;
        margin: 0 auto;
    }
    .consul_container p {
        font-size: 3vw;
        margin-bottom: 4vw;
    }
    .reason_container {
        padding: 8vw 5vw;
    }
    .reason_container > div:nth-of-type(1) p {
        font-size: 3.6vw;
        font-weight: 900;
        line-height: 1.7;
    }
    .sp.reason_wrap h2 {
        display: flex;
        font-weight: 300;
        font-size: 5vw; 
        align-items: center;   
        background: linear-gradient(transparent 70%, #DCEEFC 70%);
        line-height: 1.3;
        margin-left: auto;
    }
    .sp.reason_wrap h2 div:nth-of-type(1) {
        font-size: 14vw;
        font-weight: 900;
        margin-right: 4vw;
        margin-left: 3vw;
    }
    .sp.reason_wrap h2 div:nth-of-type(2) {
        font-weight: 900;
    }
    .sp.reason_wrap > div > div{
        margin: 0 auto;
        width: 78%;
        margin-bottom: 3vw;
    }
    .sp.reason_wrap > div > p {
        font-size: 3.2vw;
        font-weight: 500;
    }
    .sp.reason_wrap .reason3 > div {
        margin-bottom: 34vw;
    }
    .sp.reason_wrap .reason5 > div {
        margin-bottom: 3vw;
    }
    .message_wrap {
        display: block;
    }
    .message_wrap .bg-white {
        background-color: #F2F4F5;
        padding: 1.5vw 0;
    }
    .message_wrap div:nth-of-type(1) {
        width: 60%;
        margin: 0 auto;
        height: 67vw;
        left: auto;
        margin-bottom: 4vw;
    }
    .message_container {
        padding: 10vw 6vw;
    }
    .flow_wrap .flow_item.sp_flex {
        padding: 1.6rem 0;
        width: 90%;
        padding-top: 0;
    }
    .flow_item.sp_flex div {
        background-color: #DCEEFC;
        border-radius: 50%;
        padding: 1.7rem 1rem;
    }
    .flow_item.sp_flex img {
        object-fit: contain;
    }
    .flow_box > div {
        background-color: #fff;
        margin: 0 auto;
    }
    .flow_wrap .bahnschrift {
        font-size: 4rem;
        font-weight: 700;
        top: 3rem;
        width: 30%;
    }
    .flow_wrap > div:nth-of-type(1) .flow_box {
        padding-bottom: 0;
        padding-top: 7.5vw;
    }
    .flow_wrap > div:nth-of-type(3) .flow_box {
        padding-bottom: 0;
        padding-top: 7.5vw;
    }
    .flow_wrap > div:nth-of-type(4) .flow_box {
        padding-bottom: 0;
        padding-top: 7.5vw;
    }
    .flow_wrap > div:nth-of-type(1) .flow_item.sp_flex div:nth-of-type(1) {
        padding: 1.3rem 0.8rem;
        width: 17%;
    }
    .flow_wrap > div:nth-of-type(2) .flow_item.sp_flex div:nth-of-type(1) {
        padding: 0rem 1.3rem;
        width: 15%;
    }
    .flow_wrap > div:nth-of-type(3) .flow_item.sp_flex div:nth-of-type(1) {
        padding: 0rem 1.9rem;
        width: 15%;
    }
    .flow_wrap > div:nth-of-type(4) .flow_item.sp_flex div:nth-of-type(1) {
        padding: 1.7rem 0.8rem;
        width: 21%;
    }
    .flow_box h2 {
        font-size: 5.2vw;
        font-weight: 900;
        z-index: 1;
    }
    .flow_item.sp_flex p {
        font-weight: 600;
        font-size: 3.2vw;
        margin-left: 3vw;
    }
    .course_container {
        padding: 7vw 0;
    }
    .course_container table {
        width: 95%;
        font-size: 3.5vw;
        font-weight: 900;
    }
    .sp_table-row {
        display: table-row;
    }
    .course_container table td:nth-of-type(1) {
        padding: 2.5vw 1vw;
        font-size: 3.5vw;
        font-weight: 900;
    }
    .course_container .course_wrap {
        display: block;
    }
    .course_wrap > div:nth-of-type(1) {
        padding: 0.1rem 0rem;
        width: 70%;
        margin-bottom: 0.2vw;
        font-size: 2vw;
        font-weight: 700;
    }
    .successful_container .bg-skyblue {
        padding: 2.2rem 0.7rem;
    }
    .successful_container {
        padding: 3rem 0.6rem;
    }
    .successful_container > div {
        width: 92vw;
    }
    .successful_container .bg-skyblue p {
        font-size: 3.2vw;
        font-weight: 500;
    }
    .successful_container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
        width: 16vw;
    }
    .successful_container h2 {
        font-size: 4.2vw;
        position: absolute;
        right: 0;
        font-weight: 900;
    }
    .successful_wrap div:nth-of-type(3) {
        background-color: #AED5FF;
        padding: 0.4rem 0.8rem;
        font-size: 1.1rem;
        font-weight: 350;
    }
    .successful_wrap div:nth-of-type(4) {
        font-weight: 500;
        padding: 3vw 2vw;
        font-size: 3.2vw;
        padding-bottom: 12vw;
    }
    .successful_container > div > div:nth-of-type(1) {
        top: 1.2rem;
        right: 1.3rem;
    }
    .successful_container > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
        width: 20%;
    }
    .successful_container > div > div:nth-of-type(1) > div:nth-of-type(1) {
        left: 6vw;
    }
    .successful_container > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) {
        width: 21%;
    }
    .present_container {
        padding:  8vw 5vw;
    }
    .present_container .present_wrap {
        display: block;
    }
    .present_wrap .present_box.bg-white {
        width: 95%;
        padding: 3vw 2vw;
        padding-bottom: 6vw;
    }
    .present_box .present_item .blue_letters {
        font-size: 4.5vw;
        margin-left: 3vw;
    }
    .present_box .present_item .blue_letters span {
        font-size: 7vw;
    }
    .present_box .present_item > div:nth-of-type(1) {
        width: 15vw;
    }
    .present_box p:nth-of-type(1) {
        font-size: 1rem;
        font-weight: 350;
    }
    .present_wrap .present_box > p:nth-of-type(2) {
        font-size: 3.5vw;
        font-weight: 500;
    }
    .question_container {
        padding: 6vw 5vw;
    }
    .question_container p {
        font-size: 2.5vw;
        font-weight: 900;
        padding: 0vw 3vw;
    }
    .information_container {
        padding: 7vw 4.5vw;
        padding-bottom: 1vw;
    }
    .information_container h1 {
        font-size: 5vw;
        font-weight: 750;
    }
    .information_wrap {
        left: 0;
        font-weight: 500;
        font-size: 3.2vw;
    }
    .information_box span {
        font-size: 5vw;
        font-weight: 500;
    }
    .information_box div:nth-of-type(4) {
        text-align: center;
    }
    .information_box div:nth-of-type(5) {
        text-align: center;
    }
}
