html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "Noto Sans JP";
    font-style: normal;
    letter-spacing: 0.05em;
    font-weight: 500;
    position: relative;
}

* {
    position: relative;
}

a {
    text-decoration: none;
    display: contents;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.img>img {
    width: 100%;
    height: 100%;
}

input {
    padding: 0;
}

dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sp {
    display: none !important;
}

@media (max-width: 768px) {
    .sp {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .pc {
        display: none !important;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posi-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* フォントサイズ */
.f-10 {
    font-size: clamp(10px, 1.3333vw, 10px)!important;
    /* 750pxに合わせて調整 */
}

.f-12 {
    font-size: clamp(10px, 1.6vw, 12px)!important;
    /* 750pxに合わせて調整 */
}

.f-14 {
    font-size: clamp(10px, 1.8666vw, 14px)!important;
    /* 750pxに合わせて調整 */
}

.f-16 {
    font-size: clamp(10px, 2.1333vw, 16px)!important;
    /* 750pxに合わせて調整 */
}

.f-18 {
    font-size: clamp(10px, 2.4vw, 18px)!important;
    /* 750pxに合わせて調整 */
}

.f-20 {
    font-size: clamp(10px, 2.6666vw, 20px)!important;
    /* 750pxに合わせて調整 */
}

.f-22 {
    font-size: clamp(10px, 2.9333vw, 22px)!important;
    /* 750pxに合わせて調整 */
}

.f-24 {
    font-size: clamp(10px, 3.2vw, 24px)!important;
    /* 750pxに合わせて調整 */
}

.f-26 {
    font-size: clamp(10px, 3.4666vw, 26px)!important;
    /* 750pxに合わせて調整 */
}

.f-28 {
    font-size: clamp(10px, 3.7333vw, 28px)!important;
    /* 750pxに合わせて調整 */
}

.f-30 {
    font-size: clamp(10px, 4vw, 30px)!important;
    /* 750pxに合わせて調整 */
}

.f-32 {
    font-size: clamp(10px, 4.2666vw, 32px)!important;
    /* 750pxに合わせて調整 */
}

.f-36 {
    font-size: clamp(10px, 4.8vw, 36px)!important;
    /* 750pxに合わせて調整 */
}

.f-40 {
    font-size: clamp(10px, 5.3333vw, 40px)!important;
    /* 750pxに合わせて調整 */
}

.f-45 {
    font-size: clamp(10px, 6vw, 45px)!important;
    /* 750pxに合わせて調整 */
}

.f-50 {
    font-size: clamp(10px, 6.6666vw, 50px)!important;
    /* 750pxに合わせて調整 */
}

.f-60 {
    font-size: clamp(10px, 8vw, 60px)!important;
    /* 750pxに合わせて調整 */
}

.f-70 {
    font-size: clamp(10px, 9.3333vw, 70px)!important;
    /* 750pxに合わせて調整 */
}

.f-80 {
    font-size: clamp(10px, 10.6666vw, 80px)!important;
    /* 750pxに合わせて調整 */
}

.f-100 {
    font-size: clamp(10px, 12.3333vw, 90px)!important;
    /* 750pxに合わせて調整 */
}

/* -----------------------------------------------
マージン
----------------------------------------------- */
.mb-10 {
    margin-bottom: clamp(10px, 1.3333vw, 10px);
    /* 750pxに合わせて調整 */
}

.mb-15 {
    margin-bottom: clamp(10px, 2vw, 15px);
    /* 750pxに合わせて調整 */
}

.mb-20 {
    margin-bottom: clamp(10px, 2.6666vw, 20px);
    /* 750pxに合わせて調整 */
}

.mb-30 {
    margin-bottom: clamp(10px, 4vw, 30px);
    /* 750pxに合わせて調整 */
}

.mb-40 {
    margin-bottom: clamp(10px, 5.3333vw, 40px);
    /* 750pxに合わせて調整 */
}

.mb-50 {
    margin-bottom: clamp(10px, 6.6666vw, 50px);
    /* 750pxに合わせて調整 */
}

.mb-60 {
    margin-bottom: clamp(10px, 8vw, 60px);
    /* 750pxに合わせて調整 */
}

.mb-70 {
    margin-bottom: clamp(10px, 9.3333vw, 70px);
    /* 750pxに合わせて調整 */
}

.mb-80 {
    margin-bottom: clamp(10px, 10.6666vw, 80px);
    /* 750pxに合わせて調整 */
}

.mb-100 {
    margin-bottom: clamp(10px, 13.3333vw, 100px);
    /* 750pxに合わせて調整 */
}


/* -----------------------------------------------
line-hight
----------------------------------------------- */
.lh1 {
    line-height: 1;
}

.lh1\.25 {
    line-height: 1.25;
}

.lh1\.5 {
    line-height: 1.5;
}

.lh1\.75 {
    line-height: 1.75;
}

.lh2 {
    line-height: 2;
}

/* -----------------------------------------------
letter-spacing
----------------------------------------------- */
.ls- {
    letter-spacing: -0.05em;
}

.ls0\.1 {
    letter-spacing: 0.1em;
}

.ls0\.2 {
    letter-spacing: 0.2em;
}

.ls0 {
    letter-spacing: 0;
}


/* -----------------------------------------------
文字太さ
----------------------------------------------- */
.fbb {
    font-weight: 900;
}

.fb {
    font-weight: 700;
}

.fsb {
    font-weight: 600;
}

.fm {
    font-weight: 500;
}

.fr {
    font-weight: 400;
}

.fl {
    font-weight: 300;
}

/* -----------------------------------------------
文字位置
----------------------------------------------- */
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tj {
    text-align: justify;
}

/* -----------------------------------------------
縦書き
----------------------------------------------- */
.ver {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;

    &.ver_part {
        text-orientation: sideways;
    }
}

/* -----------------------------------------------
要素の位置指定
----------------------------------------------- */
.mc {
    margin: auto;
}

.mxc {
    margin-left: auto;
    margin-right: auto;
}

.myc {
    margin-top: auto;
    margin-bottom: auto;
}

.mr {
    margin-left: auto;
    margin-right: 0;
}

.ml {
    margin-left: 0;
    margin-right: auto;
}

/* -----------------------------------------------
文字色
----------------------------------------------- */
.grey {
    color: #949292;
}

.black {
    color: black;
}

.white {
    color: white;
}

.blue {
    color: #0000EE;
}

.red {
    color: #BC3E54;
}

.yellow {
    color: #FFE600;
}


/* -----------------------------------------------
display要素
----------------------------------------------- */
.block {
    display: block;
}

/* -----------------------------------------------
  position要素
  ----------------------------------------------- */
.relative {
    position: relative;
}

/* -----------------------------------------------
  js要素
  ----------------------------------------------- */
.displayOn {
    opacity: 1 !important;
    z-index: 3;
}

.indexOn {
    z-index: 120 !important;
}

/* -----------------------------------------------
  font種類
  ----------------------------------------------- */

.mincho {
    font-family: "Yu Mincho", "YuMincho";
}

.Bahnschrift {
    font-family: 'Bahnschrift', 'Arial', sans-serif;
}

/* -----------------------------------------------
  font-style
  ----------------------------------------------- */

.italic {
    font-style: italic;
}

/* -----------------------------------------------
  padding
  ----------------------------------------------- */

.pl-24 {
    padding-left: calc(24/1280 * 100vw);
}

/* -----------------------------------------------
共通パーツ
----------------------------------------------- */

.onlytop {
    display: none;
}

.common {
    display: none;
}

a:hover {
    opacity: 0.8;
    transition: all .5s ease;
}

@media (max-width: 768px) {
    .more_button {
        padding: calc(40/1280 * 100vw) calc(65/1280 * 100vw);
        width: calc(700/1280 * 100vw);
    }

    .more_button .arrow_img {
        width: calc(188/1280 * 100vw);
        height: calc(30/1280 * 100vw);
    }
}

.b-bottom {
    border-bottom: 1px solid #0F364A;
}

.fit {
    width: fit-content;
}

.mr-25 {
    margin-right: calc(25/1280 * 100vw)
}

.mt-10 {
    margin-top: calc(10/1280 * 100vw)
}



/* 追加 */
header {
    z-index: 1;
    box-shadow: 0px 20px 22px -3px rgba(0, 0, 0, 0.3);
}
.header_wrap1 div {
    right: 2.5vw;
}
.header_wrap2 .header_button {
    font-weight: 900;
}
.header_wrap2 .header_button {
    width: 14vw;
}
.header_wrap2 .header_button {
    border-radius: 25px;
}
.fs-3 {
    font-size: 3vw;
}
.fs-16 {
    font-size: 1.6vw;
}
.fs-12 {
    font-size: 1.2vw;
}
.fs-11 {
    font-size: 1.1vw;
}
.fs-105 {
    font-size: 1.05vw;
}
.fs-100 {
    font-size: 1vw;
}
.fs-095 {
    font-size: 0.95vw;
}

@media screen and (max-width: 800px) {
    .flow_wrap > div:nth-of-type(3) .flow_box {
        padding: 7vw 0;
        padding-bottom: 1vw;
    }
}

@media screen and (max-width: 768px) {
    header {
        box-shadow: none;
        height: 17vw;
    }
    .header_wrap.sp_flex.bg-blue {
        align-items: center;
    }
    .top_container .bg-white {
        width: 92vw;
        margin: 0 auto;
    }
    .achieve_container {
        text-align: center;
        padding: 9vw 0vw;
    }
    .achieve_container h1 {
        font-size: 9.5vw;
        letter-spacing: 0.5vw;    
    }
    .worries_box {
        margin-right: auto;
        width: 79vw;
    }
    .worries_item {
        height: 5.5vw;
        width: 5.5vw;
        margin-right: 0.3vw;
        top: 1vw;
    }
    .worries_wrap2 p {
        font-weight: 800;
        padding: 0 0.5vw;
        font-size: 3.8vw;
        width: 87vw;
        margin: 0 auto;
        letter-spacing: 0.3vw;
    }
    .achieve_container .achieve_wrap1+p {
        font-weight: 900;
        font-size: 5.5vw;
        margin-bottom: 2.5vw;
    }
    .achieve_box > p:nth-of-type(2) {
        font-weight: 800;
        font-size: 3vw;
    }
    .achieve_box p span {
        font-size: 4.7vw;
        font-weight: 800;
    }
    .achieve_box > div:nth-of-type(1) {
        border-bottom: 0.5vw solid #0071BC;
        width: 70vw;
        margin-bottom: 1vw;
    }
    .achieve_box > div:nth-of-type(2) {
        width: 4vw;
    }
    .achieve_box p:nth-of-type(4) {
        font-size: 2.5vw;
    }
    .achieve_box div {
        height: 7.8vw;
    }
    .achieve_box {       
        padding: 1.6vw 0;
        padding-top: 1.2vw;
        margin-bottom: 2.8vw;
    }
    .achieve_box p:last-child {
        margin-bottom: 2.5vw;
    }
    .consul_container h1 span {
        font-size: 7vw;
    }
    .consul_wrap .button {
        padding: 2.8vw 6vw;
    }
    .reason1 h2 {
        margin-left: auto;
    }
    .reason1 {
        margin-bottom: 5vw;
    }
    .reason2 {
        margin-bottom: 5vw;
    }
    .reason3 {
        margin-bottom: 5vw;
    }
    .reason4 {
        margin-bottom: 5vw;
    }
    .reason5 {
        margin-bottom: 5vw;
    }
    .reason6 {
        margin-bottom: 5vw;
    }
    .reason2 div:last-child img {
        width: 100%;
        height: 100%;
    }
    .reason_wrap.sp .reason2 > div img {
        width: 100%;
        height: 100%;
        object-position: 50% 70%;
    }

    .reason_wrap.sp .reason2 > div {
        height: 46vw;
    }
    .reason_container .reason_wrap h1 {
        font-size: 8vw;
    }
    .reason_wrap.sp p {
        margin-left: auto;
        margin-right: auto;
    }
    .message_container h1 {
        font-size: 8.5vw;
        margin-bottom: 3vw;
    }    
    .message_wrap .bg-white.lh2 p {
        margin-bottom: 4vw;
        font-weight: 500;
        font-size: 3.5vw;
        line-height: 1.6;
    }
    .message_wrap {
        width: auto;
    }    
    .flow_container {
        padding: 12vw 6.2vw;
    }
    .flow_container h1 {
        font-size: 7.5vw;
        letter-spacing: 0;
    }
    .flow_wrap {
        display: block;
        width: 100%;
        bottom: 10vw;
    }
    .flow_box h2::after {
        height: 0.6vw;
    }
    .flow_wrap > div:nth-of-type(2) .flow_box {
        padding: 7.5vw 0;
        padding-bottom: 3vw;
    }
    .course_container h1 {
        font-size: 6.5vw;
    }
    .course_container table th {
        font-size: 3.3vw;
    }
    .course_container .no-border {
        width: 17vw;
    }
    .course_container > div > div {
        width: 95%;
        font-size: 2.2vw;
    }
    .course_container table .symbol {
        font-weight: 900;
        font-size: 5.5vw;
    }
    .course_wrap > div:nth-of-type(2) > div:nth-of-type(1) span {
        font-size: 3.5vw;
    }
    .course_wrap > div:nth-of-type(2) > div:nth-of-type(1) {
        font-size: 1.8vw;
        font-weight: 800;
    }
    .course_box div:nth-of-type(2) span {
        font-size: 3vw;
    }
    .course_box div:nth-of-type(2) div:nth-of-type(1) {
        font-size: 1.5vw;
    }
    .course_box > div:nth-of-type(2) > div:nth-of-type(2) {
        font-size: 1.5vw;
    }
    .course_container table .square_bracket {
        font-size: 6vw;
        bottom: 1.5vw;
    }
    .course_container table tr:nth-of-type(3) td:nth-of-type(2) {
        padding: 2vw 0.4vw;
    }
    .course_container table tr:nth-of-type(4) td:nth-of-type(2) {
        padding: 2vw 0.4vw;
    }
    .course_container table tr:nth-of-type(5) td:nth-of-type(2) {
        padding: 2vw 0.4vw;
    }
    .successful_container h1 {
        font-size: 7.5vw;
    }
    .present_container h1 {
        font-size: 7.5vw;
    }
    .present_wrap .present_box p:nth-of-type(1) {
        border-bottom: 0.3vw solid #0072BD;
        font-size: 3.8vw;
        font-weight: 800;
    }
    .present_wrap .present_box .present_item {
        border-bottom: 0.3vw solid #0072BD;
    }
    .question_container h1 {
        font-size: 8vw;
    }
    .question_container .bahnschrift {
        font-size: 7vw;
    }
    .question_wrap {
        padding: 1vw 3vw;
    }
    .answer_wrap {
        padding: 2vw 3vw;
        margin-bottom: 3vw;
    }
    .information_wrap.sp > div:nth-of-type(1) span {
        font-weight: 900;
    }
    .information_box {
        font-size: 3.2vw;
    }
    .course_container table > tr:nth-last-of-type(3) td:nth-last-of-type(2) {
        padding: 3vw 1vw;
    }
    .course_container table > tr:nth-last-of-type(3) td:nth-last-of-type(3) {
        padding: 3vw 1vw;
    }
    .course_container table > tr:nth-last-of-type(3) td:nth-last-of-type(4) {
        padding: 3vw 1vw;
    }
}

@media screen and (max-width: 390px) {
    .flow_wrap > div:nth-of-type(2) .flow_item.sp_flex div:nth-of-type(1) {
        width: 13%;
    }
}
